/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  padding: 16px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  z-index: 1;
}

.navbar a {
  margin-left: 24px;
  font-weight: 500;
  letter-spacing: 3px;
}

.navbar .logo {
  font-weight: bold;
  font-size: 22px;
}
